body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-pointer {
  cursor: pointer !important;
}

.hover-text:hover {
  color: #445f8b;
  font-weight: 500!important;
}

